/* .container-card{
    width: 70%;
    background-color: #FFF5EA;
    padding: 30px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
}
.item-card {
    transition: all .3s;
    background-color: #D6D2C4;
    border: 2px solid #968C83;
    padding: 20px;
}
.img-container {
    height: 150px;
    overflow: hidden;
}
.img-product {
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.item-card:hover {
    transform: scale(1.05);

}
.btn-product {
    padding: 10px;
    background-color: #968C83;
    color: white;
}
.btn-product:hover {
    background-color: #F7DAD9;
    color: black;
} */