/* .navbar-container {
    background-color: #968C83;
}
.navbar-ul {
    display: flex;
    justify-content: center;
}
.navbar-li {
   padding: 15px 50px;
   color: white;
}
.navbar-li:hover {
    background-color: #F7DAD9;
    color: black;
} */